.home-header-container {
    height: 60px;
    width: 100%;
    padding: 0 90px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 10000;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 20%;

            display: flex;
            align-items: center;

            i {
                font-size: 25px;
                color: gray;
                cursor: pointer;
            }

            .header-logo {
                height: 100%;
                width: 100%;
                cursor: pointer;
                transform: scale(0.6, 0.6);
                margin-left: -80px;
            }
        }

        .center-content {
            width: 55%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                .subtitle {
                    font-weight: 400;
                    font-size: 12px;
                }
            }

        }

        .right-content {
            width: 25%;

            display: flex;
            justify-content: flex-end;
            align-items: center;

            .support {
                padding-right: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;

                i {
                    font-size: 15px;
                    margin-right: 5px;
                }
            }

            .language-vi {
                cursor: pointer;


                &.active {
                    opacity: 1;


                    span {
                        color: orange;

                    }

                }

                &:hover {
                    color: orange;
                }
            }

            .language-en {
                margin: 0 10px;

                cursor: pointer;

                &.active {
                    opacity: 1;

                    span {
                        color: blue;
                    }

                }

                &:hover {
                    color: blue;
                }
            }

        }
    }
}

.home-header-banner {
    background-image: url('../../assets/header-backround.jpg');

    height: 720px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    opacity: 0.95;

    .content-up {
        border: 1px solid red;
        height: 65%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));


        .title1 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 10px;
            color: white;

            h2 {
                margin-top: 120px;
            }

        }

        .title2 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            color: white;
            margin-bottom: 55px;
        }

        .search {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 25px;
            background: #f7d800;

            i {
                margin: 0 5px;
            }

            input {
                height: 30px;
                width: 360px;
                background: transparent;
                border: none;
                outline: none;
            }
        }
    }

    .content-down {
        border: 1px solid rgb(21, 196, 74);
        height: 35%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        align-items: flex-end;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

        .options {
            display: flex;
            gap: 50px;
            justify-content: center;

            .option-child {
                width: 125px;
                text-align: center;

                .icon-child {
                    background: white;
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;

                    i {
                        font-size: 20px;
                        color: #49bce2;
                    }
                }

                .text-child {
                    font-size: 16px;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;
                    }

                }
            }
        }
    }






}